<%= form_for @doctor do |f| %>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :specialty %>
    <%= f.text_field :specialty %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
