<!DOCTYPE html>
<html>
  <head>
    <title>Dialysis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>HomeDialysis</h1>
    <nav class="blue darken-4">
      <% if session[:user] %>
        <h4><a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></h4>
      <% else %>
        <a href="/sign_up">Sign up</a>
        <a href="/sign_in">Sign in</a>
      <% end %>
    </nav>
    <br>
    <em><%= flash[:notice] %></em>
    <%= yield %>
  </body>
</html>
